footer
  .container.text-center
    p.pull-left © Lagairogo Company, Inc. All Rights Reserved
    a.github-button.float-right(href="https://github.com/Lagairogo", data-icon="octicon-star", data-show-count="true", aria-label="Star Lagairogo on GitHub") Star
