extends layout

block content
  Why Lagairogo
  p.lead There's more than one reason to sign up with confidence.
  hr
  .row
    .col-sm-6
      h2 Credit Cards
      p Apply for a credit card online and select a card that best suits your needs. Enjoy instant approval, zero documentation, hassle-free application process and a range of other benefits. Compare the best credit cards in India.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 Quick Personal Loans
      p A Personal loan is a type of unsecured loan that you can borrow from a bank or financial institution if you require funds to pay for your financial needs. You can find Personal loans offered by Top banks along with their features, benefits.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 Finance Calculators
      p Calculate your car loan EMI with our Car Loan EMI Calculator. Check your credit card eligibility with our Credit Card Eligibility Calculator. Check your home loan eligibility in a minute with our Home Loan Eligibility Calculator.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 Personal Finance
      p The world of personal finance is now within your reach! Here's what you get: Get your FREE Experian Credit Score in seconds. Apply for a Credit Card/ Loan with 100% CONTACTLESS KYC In-app chat support - it's your personal hotline.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
