extends layout

block content
  h1 THE ULTIMATE INTERNET CONNECTION
  p.lead Unlock smooth browsing, seamless streaming, and low-lag with Lagairogo Fiber.
  hr
  .row
    .col-sm-6
      h2 Residential
      p Uncable Yourself, Get Fiber Internet. Supercharge your home internet with our 100% fiber-optic network. Get faster speed, better gaming, uncapped data, and more. Find the Fiber plan that’s right for you.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 Small Business
      p Business pricing without the funny business. Cable charges your business a lot more for the same internet speeds you get at home. With Lagairogo's Business Fiber Internet, you can get the same great speed at work without extra fees.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 Enterprise
      p Accelerate Business Agility. Uncover new opportunities and maximize your investment with our reliable, high-performance connectivity solutions. Bringing people and networks together.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 Wholesale
      p Partnerships Built for Progress. To meet today's demands and tomorrow's opportunities, you need a provider in tune with your needs and a robust fiber network you can count on. That's Lagairogo's Wholesale.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
